// responsive
// font-family: 'Tilt Neon', cursive;
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Tilt+Neon&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition-duration: 500ms;
}
.close-parent {
  display: flex;
  justify-content: end;
  .close {
    color: #fff;
    width: 4rem;
    text-align: center;
    font-size: 2rem;
  }
}

// #close-parent {
//   padding: 2.5rem;
//   #popUpClose-btn {
//     font-size: 3rem;
//     // cursor: pointer;
//   }
//   #popUpClose-btn:focus,
//   #popUpClose-btn:hover {
//     color: $maroon;
//   }
// }

// variables
$maroon: #a82c48;
$dark-maroon: #43121d;
$orange: #f98169;
$dark-grey: #555;
$grey: #999;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
  font-family: "Tilt Neon", cursive;
  overflow-x: hidden;
}
//   navbaar
header {
  position: sticky;
  top: 0%;
  width: 100vw;
  height: 6rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.7rem $maroon;
  padding: 0.1rem 0;
  display: flex;
  align-items: center;
  z-index: 999;
}
nav {
  // position: sticky;
  width: 90%;
  height: 100%;
  // background-color: #555;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-img {
    width: 10rem;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    a {
      font-size: 1.7rem;
      color: $maroon;
      text-decoration: none;
    }
    a:hover {
      color: $orange;
    }
    .contact-btn {
      padding: 0.5rem auto;
      width: 15rem;
      height: 3.6rem;
      color: #fff;
      font-weight: 600;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      background-color: $maroon;
      border-radius: 0.7rem;
      border: 2px solid $maroon;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 500ms;
      font-family: "Tilt Neon", cursive;
    }
    .contact-btn:hover {
      color: $maroon;
      background-color: #fff;
    }

    // .icon {
    // }
  }

  .hamburger {
    display: none;
  }
}

.mobile-menu {
  display: none; //display in mobile
}

#home {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  .hero-img {
    margin-top: -2rem;
    display: flex;
    align-items: center;
    background: url("bg-1.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    .hero-text {
      width: 40%;
      margin-left: 11rem;
      h1 {
        font-size: 4.2rem;
        line-height: 4rem;
      }
      p {
        margin: 1rem 0;
        font-size: 1.8rem;
        color: $dark-grey;
        font-weight: 400;
      }
      .hero-btns {
        display: flex;
        gap: 1rem;
        .btn1 {
          padding: 0.5rem;
          width: 13rem;
          color: #fff;
          font-size: 1.3rem;
          font-weight: 600;
          letter-spacing: 0.1rem;

          background-color: $maroon;
          border-radius: 0.7rem;
          border: 2px solid $maroon;
          display: flex;
          justify-content: center;
          align-items: center;
          transition-duration: 500ms;
          font-family: "Tilt Neon", cursive;
        }
        .btn1:active,
        .btn1:hover {
          color: $maroon;
          background-color: #fff;
        }

        .btn2 {
          padding: 1rem;
          width: 13rem;
          color: $maroon;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0.1rem;
          background-color: #fff;
          border-radius: 0.7rem;
          border: 2px solid $maroon;
          display: flex;
          justify-content: center;
          align-items: center;
          transition-duration: 500ms;
          font-family: "Tilt Neon", cursive;
        }
        .btn2:active,
        .btn2:hover {
          color: #fff;
          background-color: $maroon;
        }
      }
    }
  }

  //   counter
  .counter {
    height: 20vh;
    width: 100%;
    background-color: #a82c48;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0; //ye mene kia tha
    .sub-counter {
      text-align: center;
      .counter-number {
        font-size: 3.5rem;
        margin-bottom: -0.5rem;
      }
      .counter-text {
        font-size: 2rem;
      }
    }
  }
}

#about {
  padding-top: 5rem;
  .img-container-row-1 {
    width: 90vw;
    display: flex;
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 4rem;
    align-items: center;
    gap: 3rem;
    .img-row-1 {
      // height: 50%;
      width: 60%;
      border-radius: 2%;
    }
    .row-1-text {
      width: 40%;
      h1 {
        font-size: 3.3rem;
        line-height: 3.3rem;
      }
      p {
        font-size: 1.7rem;
        margin: 2rem 0;
        color: $dark-grey;
        font-weight: 400;
      }
      .check-line {
        display: flex;
        align-items: center;
        margin: -2rem 0;
        gap: 1.5rem;
        .check-icon {
          color: $maroon;
          font-size: 2.5rem;
        }
        p {
          font-weight: 600;
        }
      }

      button {
        padding: 1rem;
        width: 13rem;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        margin: 3rem;
        background-color: $maroon;
        // border-radius: 0.7rem;
        border: 2px solid $maroon;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 500ms;
        font-family: "Tilt Neon", cursive;
      }
      button:active,
      button:hover {
        color: $maroon;
        background-color: #fff;
      }
    }
  }

  // background-img-banner

  .background-img-banner {
    width: 100vw;
    height: 42rem;
    background: url("bg-2.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      width: 90%;
      text-align: center;
      h1 {
        color: $maroon;
        margin: 0 auto;
        width: 70%;
        font-size: 3.5rem;
        line-height: 3.7rem;
      }
      p {
        color: $dark-grey;
        margin: 1.5rem auto;
        font-size: 1.5rem;
      }
      button {
        padding: 1rem;
        width: 13rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.15rem;
        margin: 1.5rem auto;
        background-color: $maroon;
        border: 2px solid $maroon;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 500ms;
        font-family: "Tilt Neon", cursive;
      }
      button:active,
      button:hover {
        color: $maroon;
        background-color: #ffffff00;
      }
    }
  }
}

#Explore-Food {
  background-color: $maroon;
  margin: 5rem auto;
  padding: 5rem 0;
  padding-top: 5rem;
  // explore food text
  .text {
    width: 90vw;
    margin: 0rem auto;
    text-align: center;
    color: #fff;
    h1 {
      font-size: 3.5rem;
      margin: 1rem auto;
    }
    p {
      margin: 0 auto;
      width: 90%;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      font-weight: 400;
    }
  }

  .cards-parent {
    background-color: $maroon;
    width: 80vw;
    margin: 3rem auto;
    display: grid;
    justify-content: space-evenly;
    row-gap: 2rem;
    grid-template-columns: 32% 32% 32%;
    .card {
      position: relative; //position:absolute makes move element relative to its nearest positioned ansestor
      width: 100%;
      // height: 42rem;
      // border: 1px solid red;/
      background-color: #fff;
      border-radius: 1rem;
      .img {
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
        // cursor: pointer;
      }

      .heart {
        color: red;
        // width: 5rem;
        font-size: 0.1rem;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        filter: drop-shadow(0.2rem 0.2rem 1rem #000);
      }
      .heart-display-block {
        display: block;
        font-size: 7rem;
      }
      .card-text {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        .cardHeading {
          margin-top: 1rem;
          font-size: 2rem;
          color: $maroon;
        }
        .caption {
          font-size: 1.7rem;
          color: $dark-grey;
        }
        .price-div {
          margin: 0.5rem 0;
          display: flex;
          gap: 1.5rem;
          font-size: 2rem;
          font-weight: 600;
          .price {
            color: $maroon;
          }
          .price-cut {
            text-decoration: line-through;
            color: $dark-grey;
          }
        }
        button {
          padding: 1rem 0;
          width: 13rem;
          color: #fff;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: 0.1rem;
          margin: 1rem 0;
          background-color: $maroon;
          border: 2px solid $maroon;
          display: flex;
          justify-content: center;
          align-items: center;
          transition-duration: 500ms;
          font-family: "Tilt Neon", cursive;
        }
        button:active,
        button:hover {
          color: $maroon;
          background-color: #fff;
        }
      }
    }
  }
}

// social media hashtag *****************************************
.hashtag {
  width: 70%;
  text-align: center;
  margin: 5rem auto;
  font-size: 2.5rem;
  // letter-spacing: 0.1rem;
  span {
    color: $maroon;
    font-weight: 600;
  }
}

// slider-testimonials  ***********************************************
#review {
  background-color: $maroon;
  padding: 2rem 0;
  .testimonial-text {
    text-align: center;
    font-size: 2.3rem;
    color: #fff;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
  }
  .slider {
    position: relative;
    width: 100vw;
    height: 38rem;
    display: grid;
    place-items: center;

    #slide-2,
    #slide-3 {
      margin-left: -200%;
    }
    .slide {
      padding: 2rem auto;
      position: absolute;
      display: grid;
      place-items: center;
      width: 40vw;
      // height: 20rem;
      border-radius: 1.5rem;
      background-color: #fff;

      img {
        width: 9rem;
        margin-top: 2rem;
        border-radius: 50%;
      }
      .slider-text {
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        h1 {
          font-size: 2rem;
        }
        p {
          margin: 0 auto;
          width: 60%;
          color: $maroon;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
  .circle-btn {
    // text-align: center;
    width: 40vw;
    // height: 5rem;
    margin: 0 auto;
    // margin-top: -5rem; //isko change krna h responsive se
    display: flex;
    justify-content: center;
    // z-index: 999;
    // background-color: #000;
    display: flex;
    gap: 0.8rem;
    .btn {
      // text-align: center;
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      border-radius: 50%;
      opacity: 50%;
      transition-duration: 200ms;
      // cursor: pointer;
    }
  }
}

// bg attached img banner ***********************************************

.img-banner {
  width: 100vw;
  background: url("bg-3.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 6rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  p {
    font-weight: 600;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  button {
    background-color: $maroon;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.9rem 1.3rem;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    font-weight: 600;
    border: 0.2rem solid $maroon;
    // margin-top: 1.7rem;
  }
  button:hover {
    background-color: #ffffff00;
    color: $maroon;
  }
}

// FAQ ***********************************************

#FAQ {
  width: 100vw;
  // height: 70vh;
  // margin: 0rem auto;
  background-color: rgb(225, 225, 225);
  padding: 5rem 0;

  .FAQ-heading {
    text-align: center;
    color: $maroon;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 2.5rem 0;
  }

  .FAQs {
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    column-gap: 3.5rem;
    .FAQ-contents {
      // border: 1px solid red;
      margin: 1.5rem;
      .FAQ-question {
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
        color: $maroon;
        font-weight: 600;
        letter-spacing: 0.05rem;
        // span {
        // }
      }
      .FAQ-answer {
        color: $dark-grey;
        font-size: 1.5rem;
        letter-spacing: 0.04rem;
        line-height: 2.3rem;
      }
    }
  }
}

// Subscribe Us ***********************************

.subscribe-parent {
  width: 100vw;
  text-align: center;
  padding: 6rem 2rem;
  span {
    background-color: $maroon;
    color: #fff;
  }
  h1 {
    font-size: 2.7rem;
  }
  p {
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    color: $dark-grey;
    margin: 0.7rem auto;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
    .input {
      width: 33rem;
      height: 4rem;
      padding: 1.5rem 1rem;
      border-radius: 0.5rem;
    }
    .input:focus,
    .input:hover {
      border: 0.2rem solid $maroon;
      outline: $maroon;
    }
    .input::placeholder {
      // padding-left: ;
      // outline: none;
      font-size: 1.8rem;
    }
    .subscribe-btn {
      height: 4rem;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
      border: none;
      background-color: $maroon;
      color: #fff;
      padding: 0 1.2rem;
      border: 0.2rem solid $maroon;
      border-radius: 0.3rem;
    }
    .subscribe-btn:hover {
      color: $maroon;
      background-color: #fff;
      border: 0.2rem solid $maroon;
    }
  }
}

// Footer ***********************************

#footer {
  background-color: $maroon;
  padding-top: 2rem;
  padding-bottom: 1rem;
  .links {
    margin: 2rem auto;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .social-media-icon {
    margin: 1.5rem auto;

    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      font-size: 2.2rem;
      text-decoration: none;
      color: #fff;
      padding: 0.3rem 0.4rem;
      border-radius: 50%;
    }
    a:hover,
    a:focus {
      background-color: #fff;
      color: $maroon;
    }
  }

  .copyright-text {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 2.3rem;
    }
  }
}

// card popup ***********************************************
#cardPopUp {
  // background-attachment: fixed;
  display: none;
  background: url("img-5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45rem;
  position: fixed;
  top: 52%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  width: 57vw;
  // border-radius: 1.5rem;
  border-radius: 2rem;
  outline: 0.2rem solid $maroon;
  outline-offset: -1.5rem;
  outline-style: dotted;

  #close-parent {
    padding: 2.5rem;

    #popUpClose-btn {
      font-size: 3rem;
      background-color: #ffffff00;
      border: none;
      color: $maroon;
    }
    #popUpClose-btn:focus,
    #popUpClose-btn:hover {
      color: #fff;
    }
  }

  // background-color: rgb(195, 135, 255);

  .cardPopUp-text {
    // height: 40%;
    margin: 2.5rem;
    width: 55%;
    background-color: #fff;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 2rem 1.5rem;
    border-radius: 2rem;

    .cardPopUp-heading {
      font-size: 1.7rem;
      font-weight: 600;
      color: $maroon;
    }
    .cardPopUp-caption {
      font-size: 1.6rem;
      color: $dark-grey;
    }
    .cardPopUp-price-div {
      display: flex;
      gap: 1.5rem;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 1rem;
      .cardPopUp-price {
        color: $maroon;
      }
      .cardPopUp-price-cut {
        text-decoration: line-through;
        color: $dark-grey;
      }
      #qty {
        background-color: rgb(233, 232, 232);
        // border: 0.1rem solid $maroon;
        padding: 0.2rem 0.6rem;
        height: 2.3rem;
        width: 5.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto 0;
        border-radius: 0.3rem;
        font-size: 2rem;
        #minus {
          margin-right: 0.7rem;
          // color: $dark-grey;
        }
        #qtyNum {
          color: $maroon;
        }
        #plus {
          margin-left: 0.7rem;
        }
        .qtyBtn {
          color: $dark-grey;
          background-color: #ffffff00;
          border: none;
          padding: 0rem;
        }
        .qtyBtn:focus,
        .qtyBtn:hover {
          color: $maroon;
        }
      }
    }
    button {
      padding: 0.7rem 1.5rem;
      // width: 13rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      margin: 1rem 0;
      background-color: $maroon;
      border: 2px solid $maroon;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 500ms;
      font-family: "Tilt Neon", cursive;
    }
    button:active,
    button:hover {
      color: $maroon;
      background-color: #fff;
    }
  }
}

// responsive******************************************************************

// ------------- for mobile to tab screen-----------

@media (max-width: 650px) {
  html {
    font-size: 50%;
    font-family: "Tilt Neon", cursive;
  }
  // footer

  #footer {
    .links {
      width: 80%;
    }
    .social-media-icon {
      width: 80%;
    }
  }
}

// only for cards grid
@media (max-width: 450px) {
  #Explore-Food {
    .cards-parent {
      width: 90vw;
      grid-template-columns: 90%;
      .card {
        // height: 42rem;
        width: 100%;

        .img {
          width: 100%;
          height: 27rem;
          border-radius: 1rem;
        }
      }
    }
  }
}

// only for cards grid
@media (min-width: 450px) and (max-width: 900px) {
  #Explore-Food {
    .cards-parent {
      width: 90vw;
      grid-template-columns: 48% 48%;
      .card {
        width: 100%;

        .img {
          width: 100%;
          height: 25rem;
          border-radius: 1rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  header {
    z-index: 999;
    // height: 6rem; //nav height
    display: grid;
    // gap: 2rem;
    nav {
      height: 100%;
      position: sticky;
      top: 0%;
      .menu {
        display: none;
      }
      .hamburger {
        display: grid;
        place-items: center;
        .bar {
          width: 3rem;
          height: 0.3rem;
          background-color: $maroon;
          margin: 0.25rem auto;
        }
        .middle-bar {
          margin-left: 1.1rem;
        }

        .bar1 {
          transform: rotate(45deg);
          margin-bottom: -2.1rem;
        }
        .bar2 {
          display: none;
        }
        .bar3 {
          transform: rotate(135deg);
        }
      }
    }
    // mobile menu
    .mobile-menu {
      display: none;
      width: 100vw;
      height: 30rem;
      background-color: #a82c48;
      padding: 0rem;
      transition-duration: 500ms;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // position: absolute;
      // right: 0%;
      // top: 7.5%;
      // .close-parent {
      //   display: flex;
      //   justify-content: end;
      //   .close {
      //     color: #fff;
      //     width: 4rem;
      //     text-align: center;
      //     font-size: 2rem;
      //   }
      // }
      a {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.9rem;
        margin: 1.8rem auto;
      }
      a:active {
        opacity: 70%;
      }
      button {
        margin: auto;
        padding: 0.5rem auto;
        width: 23rem;
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        background-color: $maroon;
        border-radius: 0.7rem;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        align-items: center;
        transition-duration: 500ms;
        font-family: "Tilt Neon", cursive;
      }
      button:active {
        color: #a82c48;
        background-color: #fff;
      }
    }
  }

  // hero rsponsive

  #home {
    .hero-img {
      height: 65vh;
      .hero-text {
        width: 100%;
        margin: 0 3rem;
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
    // counter rsponsive

    .counter {
      height: 50vh;
      flex-direction: column;
      padding: 4rem 0;
    }
  }

  #about {
    .img-container-row-1 {
      flex-direction: column;
      .img-row-1 {
        width: 85vw;
      }
      .row-1-text {
        width: 85vw;
      }
    }

    // .background-img-banner

    .background-img-banner {
      .text {
        width: 100vw;
        h1 {
          font-size: 2.8rem;
          line-height: 3rem;
        }
        p {
          width: 80%;
          font-size: 1.8rem;
        }
        button:active {
          background-color: #ffffff00;
        }
      }
    }
  }

  #review {
    .slider {
      .slide {
        width: 80%;
      }
    }
  }

  // bg attached img banner
  .img-banner {
    display: block;

    button {
      margin-top: 1.7rem;
    }
  }

  // popupcard**************
  #cardPopUp {
    width: 84vw;

    .cardPopUp-text {
      width: 70%;

      .cardPopUp-heading {
        font-size: 1.6rem;
      }
      .cardPopUp-caption {
        font-size: 1.4rem;
      }
    }
  }
  //

  @media (max-width: 520px) {
    #FAQ {
      .FAQ-heading {
        // text-align: center;
        // color: $maroon;
        // font-weight: 600;
        font-size: 2.2rem;
        // margin: 2rem 0;
      }

      .FAQs {
        width: 100%;
        grid-template-columns: 90%;
      }
    }
  }
}
